* {
    box-sizing: border-box; /* Ajusta o box model para todos os elementos */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #f1eaf3, #e79fd2); /* Gradiente de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('telaPrincipal.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o body */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}



h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra no texto */
}

.buttons button {
    width: 120px; /* Defina a largura dos botões */
    height: 120px; /* Defina a altura dos botões */
    border: 4px transparent; /* Define a borda dos botões */
    border-radius: 10px; /* Arredonda os cantos dos botões */
    background-color: transparent; /* Torna o fundo dos botões transparente */
    color: #030303; /* Cor do texto dos botões */
    font-size: 18px; /* Tamanho da fonte dos botões */
    font-weight: bold; /* Peso da fonte dos botões */
    cursor: pointer; /* Muda o cursor para uma mão quando sobre o botão */
    padding: 15px; /* Adiciona espaço interno aos botões */
    transition: all 0.3s ease; /* Transição suave para todas as propriedades */
}

.buttons {
    display: flex; /* Usa flexbox para alinhar os botões lado a lado */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
}

.container {
    text-align: center;
    margin-top: 540px;
}
.icon-text-button .icon {
    width: 15px; /* Define a largura da imagem */
    height: 15px; /* Define a altura da imagem */
    margin-right: 10px; /* Adiciona espaço entre a imagem e o texto */
}
.icon-text-button .text {
    font-weight: bold; /* Define o texto em negrito (ajuste conforme necessário) */
}






























